<h2>List of Ratings</h2>

<ul>
  <% @ratings.each do |rating| %>
      <li>
        <%= rating %>
        <%= link_to 'delete', rating, method: :delete, data: { confirm: "Delete "+rating.to_s+"?" } %>
      </li>
  <% end %>
</ul>

<p>Total ratings: <%= @ratings.count %></p>

<br>

<p>Create a new <%= link_to 'rating', new_rating_path%></p>