<h2>List of Ratings</h2>

<ul>
  <% @ratings.each do |rating| %>
      <li>
        <%= rating %>
        <%= link_to rating.user.username, user_path(rating.user_id) %>
      </li>
  <% end %>
</ul>

<p>Total ratings: <%= @ratings.count %></p>

<br>

<p>Create a new <%= link_to 'rating', new_rating_path%></p>