<h2>List of Ratings</h2>

<ul>
  <% @ratings.each do |rating| %>
      <li> <%= rating %> </li>
  <% end %>
</ul>

<p>Total ratings: <%= @ratings.count %></p>

<br>

<p>Create a new <%= link_to 'rating', ratings_new_url%></p>